* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background:#333;
	font-family: 'Lato', sans-serif;
}
.contenedor {
	margin: auto;
	width: 100%;
	max-width: 990px;
	padding:0 40px;
}
header {
	height: 200px;
	background: #eaeaea;
	padding: 30px 50px;
}
nav {
	background:#fff;
	border-bottom: 2px solid #ddd;
	padding: 0 40px;
}
nav a {
	display: inline-block;
	color: #000;
	padding: 10px 20px;
}
nav a.current {
	color: red;
}

.contenido {
	background: #eaeaea;
	min-height: 600px;
	padding: 30px 50px;
}
.contenido p {
	padding:20px 0;
}
.contenido h2 {
	padding-bottom: 30px;
}
article {
	border-top: 1px solid #444;
	padding: 20px 0;
	overflow: auto;
}
article img {
	float: left;
	width: 20%;
	height: auto;
}
article div {
	float: left;
	width: 80%;
	padding-left: 30px;
}


footer {
	background:#fff;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	height: 100px;
	padding: 30px 50px;

}