* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
nav {
  margin: 20px auto 0 auto;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}
nav a {
  display: inline-block;
  padding: 10px 5px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
nav a:hover {
  color: #da3d78;
}

section {
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  width: 990px;
  min-height: 400px;
  margin-top: 40px;
  padding: 20px;
  overflow: auto;
  zoom: 1;
}
section h2 {
  font-weight: bold;
  color: #da3d78;
  font-size:24px;
  margin-bottom:20px;
}

section p {
  float: left;
  width: 50%;
  clear: left;
}
